/* .container
{
    margin-left: 40%;
    margin-right:50%;
    margin-top: 10%;
    background-color:linear-gradient(180deg, #810b89,#e1ffea22 60%); 
    
}

.head{
    
    font-size: xx-large;
    font-weight: 20px;
} */